<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>Projeto Tabuão</title>
</head>
<body>
	<main>
		
		<h1>Projeto Tabuada</h1>
		<p> Esta aplicação tem como objetivo calcular tabuada de um número inteiro</p>

		<form action="/gerarTabuada" method="post">
		<label for =""inputNumero">Numero:</label>
		<input type="input" id="inputNumero" name="inputNumero" placeholder="Insira um valor Inteiro">
		<input type="submit" name="calcular">
	</form>
	</main>

</body>
</html>